## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [5]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500  # Adjust as needed
application_types_to_replace = application_counts[application_counts < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
# Filter classifications that appear more than once
classification_counts_gt1 = classification_counts[classification_counts > 1]

# Display the filtered classification counts
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000  # Adjust as needed
classification_types_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classification_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")


# Check to make sure replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=int)

# Display the first few rows of the transformed dataset
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [19]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])  # Features
y = application_df["IS_SUCCESSFUL"]  # Target variable

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train.shape[1]  # Get the number of input features

# Define the deep neural network model
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
nn_model.add(Dense(units=30, activation='relu'))

# Output layer
nn_model.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 0 (0.00 B)

 Trainable params: 0 (0.00 B)

 Non-trainable params: 0 (0.00 B)

In [34]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Display confirmation message
print("Model compiled successfully.")

Model compiled successfully.

In [30]:
# Train the model
history = nn_model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 471us/step - accuracy: 0.4987 - loss: 71551.9844 - val_accuracy: 0.4659 - val_loss: 12594.5820
Epoch 2/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 402us/step - accuracy: 0.5014 - loss: 5207.4946 - val_accuracy: 0.4659 - val_loss: 39024.3828
Epoch 3/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.5027 - loss: 41130.7109 - val_accuracy: 0.4659 - val_loss: 2714.8135
Epoch 4/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 397us/step - accuracy: 0.4762 - loss: 71897.1953 - val_accuracy: 0.5341 - val_loss: 7371.9839
Epoch 5/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.5005 - loss: 20978.7617 - val_accuracy: 0.4659 - val_loss: 2609.9456
Epoch 6/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.4963 - loss: 14857.4258 - val_accuracy: 0.5341 - val_loss: 96.8330
Epoch 7/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.4892 - loss: 7997.6104 - val_accuracy: 0.4659 - val_loss: 58609.9531
Epoch 8/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 398us/step - accuracy: 0.4842 - loss: 24858.4102 - val_accuracy: 0.5341 - val_loss: 6457.1831
Epoch 9/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 397us/step - accuracy: 0.5039 - loss: 4284.0898 - val_accuracy: 0.4659 - val_loss: 13705.8730
Epoch 10/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 398us/step - accuracy: 0.4975 - loss: 2880.1287 - val_accuracy: 0.5345 - val_loss: 15.5059
Epoch 11/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.5226 - loss: 6483.6201 - val_accuracy: 0.5108 - val_loss: 398.6147
Epoch 12/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.5000 - loss: 5910.0298 - val_accuracy: 0.5341 - val_loss: 767.7914
Epoch 13/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 401us/step - accuracy: 0.5154 - loss: 1179.1755 - val_accuracy: 0.5063 - val_loss: 446.4456
Epoch 14/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.5206 - loss: 555.4828 - val_accuracy: 0.5341 - val_loss: 1.0398
Epoch 15/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.5430 - loss: 0.8213 - val_accuracy: 0.6480 - val_loss: 0.6374
Epoch 16/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.6569 - loss: 0.6290 - val_accuracy: 0.6503 - val_loss: 0.6341
Epoch 17/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 411us/step - accuracy: 0.6618 - loss: 0.6227 - val_accuracy: 0.6516 - val_loss: 0.6328
Epoch 18/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 398us/step - accuracy: 0.6595 - loss: 0.6263 - val_accuracy: 0.6443 - val_loss: 0.6363
Epoch 19/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 401us/step - accuracy: 0.6579 - loss: 0.6252 - val_accuracy: 0.6534 - val_loss: 0.6315
Epoch 20/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.6563 - loss: 0.6275 - val_accuracy: 0.6506 - val_loss: 0.6325
Epoch 21/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.6508 - loss: 0.6299 - val_accuracy: 0.4659 - val_loss: 0.7126
Epoch 22/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.5112 - loss: 0.6943 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 23/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.5305 - loss: 0.6915 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 24/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.5322 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 25/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 400us/step - accuracy: 0.5347 - loss: 0.6909 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 26/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 403us/step - accuracy: 0.5256 - loss: 0.6919 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 27/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 399us/step - accuracy: 0.5291 - loss: 0.6916 - val_accuracy: 0.5341 - val_loss: 0.6913
Epoch 28/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 398us/step - accuracy: 0.5294 - loss: 0.6917 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 29/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 403us/step - accuracy: 0.5314 - loss: 0.6914 - val_accuracy: 0.5341 - val_loss: 0.6912
Epoch 30/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 403us/step - accuracy: 0.5319 - loss: 0.6914 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 31/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.5317 - loss: 0.6913 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 32/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 413us/step - accuracy: 0.5340 - loss: 0.6910 - val_accuracy: 0.5341 - val_loss: 0.6915
Epoch 33/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 409us/step - accuracy: 0.5372 - loss: 0.6908 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 34/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.5325 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 35/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.5323 - loss: 0.6914 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 36/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.5335 - loss: 0.6911 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 37/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 409us/step - accuracy: 0.5331 - loss: 0.6911 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 38/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.5288 - loss: 0.6919 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 39/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 409us/step - accuracy: 0.5311 - loss: 0.6913 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 40/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 403us/step - accuracy: 0.5276 - loss: 0.6919 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 41/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 406us/step - accuracy: 0.5328 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 42/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - accuracy: 0.5292 - loss: 0.6917 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 43/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 412us/step - accuracy: 0.5360 - loss: 0.6907 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 44/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 415us/step - accuracy: 0.5321 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6911
Epoch 45/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.5321 - loss: 0.6911 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 46/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 406us/step - accuracy: 0.5361 - loss: 0.6908 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 47/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 413us/step - accuracy: 0.5316 - loss: 0.6915 - val_accuracy: 0.5341 - val_loss: 0.6910
Epoch 48/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.5341 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 49/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 431us/step - accuracy: 0.5338 - loss: 0.6911 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 50/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.5297 - loss: 0.6916 - val_accuracy: 0.5341 - val_loss: 0.6910

In [36]:
# Evaluate the model using the test data
# Scale the feature data before evaluation
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Evaluate the model using the scaled test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 634us/step - accuracy: 0.6395 - loss: 0.9503
Loss: 0.9502642154693604, Accuracy: 0.6395043730735779

In [38]:
# Export our model to HDF5 file
nn_model.save("charity_model.h5")

# Display confirmation message
print("Model saved successfully as 'charity_model.h5'.")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved successfully as 'charity_model.h5'.